version: "3.5"

# Build all images:
#
# $ docker-compose -f Docker/docker-compose.yml build
#
# Start the development instance:
#
# $ docker-compose -f Docker/docker-compose.yml up
#
# Please note: Environment variables used by this Docker Compose setup are
#              spawned from a '.env' file. This file needs to be in the same
#              directory as the docker-compose command is run. Variables in this
#              file are defined by '<VARIABLE NAME>=<VALUE>'.
#             
#              For convenience, a template `.env` file has been included in this
#              repository (called `.env.template`). The easiest way to copy this
#              template then change the values for each variable locally.
#
#              $ cp .env.template .env
#              $ vi .env

volumes:
  db-store:
  www-static:
  www-logs:

services:
  cathapi-redis:
    restart: always
    build:
       context: ./redis/
    networks:
      default:
        aliases:
          - cathapi-redis

  cathapi-django:
    restart: always
    build:
      context: ../
      dockerfile: Docker/cathapi/Dockerfile
      args:
        - CATHSMAPI_CODEBASE=$CATHSMAPI_CODEBASE
        - CATHSMAPI_GITTAG=$CATHSMAPI_GITTAG
    depends_on:
      - cathapi-redis
      - postgres
    environment:
      - CATHAPI_DEBUG=CONTAINER
      - POSTGRES_DB=$POSTGRES_DB
      - DJANGO_DB_ADMIN_USR=$DJANGO_DB_ADMIN_USR
      - DJANGO_DB_ADMIN_PW=$DJANGO_DB_ADMIN_PW
      - DJANGO_DB_ADMIN_ML=$DJANGO_DB_ADMIN_ML
      - DJANGO_DB_USR=$DJANGO_DB_USR
      - DJANGO_DB_CLR_PW=$DJANGO_DB_CLR_PW
      - ALLOWED_HOSTS=$ALLOWED_HOSTS
    volumes:
      - www-static:/static
    command: /cathapi/entrypoint.sh gunicorn cathapi.wsgi -b 0.0.0.0:8080

  postgres:
    restart: always
    build:
      context: ./postgres/
      # Increase /dev/shm as hinted by the Docker Library page for Postgres
      # https://github.com/docker-library/docs/tree/master/postgres/
      # "shm_size" needs Docker-Compose v.3.5, before this file was 3.3.
      shm_size: '256MB'
    environment:
      - POSTGRES_PASSWORD=$POSTGRES_PASSWORD
      - POSTGRES_DB=$POSTGRES_DB
      - DJANGO_DB_USR=$DJANGO_DB_USR
      - DJANGO_DB_PW=$DJANGO_DB_PW
      - POSTGRES_INITDB_ARGS=--auth=scram-sha-256
    volumes:
      - db-store:/var/lib/postgresql/data/
    entrypoint:
      - docker-entrypoint.sh
      - -c
      - 'config_file=/postgresql.conf'

  nginx:
    restart: always
    build: 
      context: ./nginx/
    depends_on:
      - cathapi-django
    volumes:
      - www-static:/static
      - www-logs:/var/log/nginx
    ports:
      - "0.0.0.0:80:8000"

  cathapi-celery:
    restart: always
    build:
      context: ../
      dockerfile: Docker/cathapi/Dockerfile
      args:
        - CATHSMAPI_CODEBASE=$CATHSMAPI_CODEBASE
        - CATHSMAPI_GITTAG=$CATHSMAPI_GITTAG
    depends_on:
      - cathapi-redis
    environment:
      - CATHAPI_DEBUG=CONTAINER
      - I_AM_CELERY=1
    command: celery -A cathapi worker

#  LocalWords:  env DJANGO USR Django py createsuperuser CATHSMAPI CODEBASE
#  LocalWords:  fromlocal fromgitrepo repo GITTAG sha PostgreSQL CLR usename
#  LocalWords:  passwd
